<%- include('partials/header') %>


<% riskMatrix.forEach(risk => { %>
  <a href="javascript:void(0)"><%= risk.secCat %></a>
<% }) %>

<!-- <% riskMatrix.forEach(risk => { %>

<% }) %> -->

<%- include('partials/footer') %>