<%- include('partials/header') %>

<div class="card mt-3">
  <div class="card-header">
    <h4>Accommodaiton</h4>
    <h6>Atrium</h6>
  </div>
  <div class="card-body">
    <div>
      <h6>H&S Investigate</h6>
      <p>Yes</p>
    </div>
    <div>
      <h6>Investigate Frequency</h6>
      <p>Each Occurrence</p>
    </div>
    <div>
      <h6>Previous Complaint History</h6>
      <p>Each Occurrence</p>
    </div>
    <div>
      <h6>Audit History</h6>
      <p>Each Occurrence</p>
    </div>
    <div>
      <h6>Partner Response Time</h6>
      <p>30 days - 3 requests</p>
    </div>
    <div>
      <h6>Exception(s)</h6>
      <p>Audit Covers/Investigated/concern resolved within previous 1 year</p>
    </div>
  </div>
  <div class="card-footer">
    Footer
  </div>
</div>

<%- include('partials/footer') %>